*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    border: 0;
    background: #00000000;
    width: 100px;
    height: 30px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
}

